* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #20b2aa20;
    margin: 0;
}

div {
    background-color:#f0808040;
}

#website-name {
    background-color: #20b2aa;
    color: white;
    font-size: 42px;
    margin: 0 auto;
    padding: 10px 0;
 }

.center-bold {
    text-align: center;
    font-weight: bold;
}

#contents-div {
    width: 100%;
    margin: 0 auto;
    background-color: #20b2aa80;
}

#contents-list {
    padding: 0px 0 15px 0;
    margin-top: 0 auto;
    text-align: center;
}

 #contents-list li {
    display: inline-flex;
    font-size: 24px;
    font-weight: bold;
    list-style: none;
    margin: 0 10px;
    border: 4px #20b2aa solid;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #20b2aa50;
 }

.contents-link {
    text-decoration: none;
    color: white;
 }

 .contents-link:hover {
    text-decoration: underline;
 }

 .recipe-name {
    font-size: 32px;
    background-color: lightseagreen;
    color: white;
 }

 .recipe-photo {
    display: block;
    height: auto;
    width: 300px;
    margin: auto;
 }

p,
li {
    color:#f08080;
    font-size: 16px;
 }

 .description,
 .ingredients,
 .steps {
    background-color: #f08080;
    color: white;
    font-size: 20px;
    font-weight: bold;
 }